@import "scss/reset";
@import "scss/setting";
@import "scss/config";
@import "scss/mixin";

li{
  list-style: none;
}
 
  
#loader-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #fff;
  z-index: 1;
}
#loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  text-align: center;
  z-index: 2;
}

.wrapper{
  display: none;
  width: 100%;
  height: 100%;
}

header{
 width: 100%;
}

.drawer-hamburger{
  display: none;
  @include mq(sm){
    display: block;
  }
}
#demo-1{
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background-color: #999;
}

.Header{
  position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
  @include mq(){
    display: none;
  }
  &__inner{

  }
  &__links{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 30px;
  }
}

