@import "scss/reset";
@import "scss/setting";
@import "scss/config";
@import "scss/mixin";

li{
  list-style: none;
}
 
  
#loader-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #fff;
  z-index: 1;
}
#loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  text-align: center;
  z-index: 2;
}

.wrapper{
  display: none;
  width: 100%;
  height: 100%;
}

header{
 width: 100%;
}

.drawer-hamburger{
  display: none;
  @include mq(sm){
    display: block;
  }
}
#demo-1{
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background-color: #999;
}

.Header{
  position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
  @include mq(){
    display: none;
  }
  &__inner{

  }
  &__links{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 30px;
  }
}

.contents{
  width: 100%;
  &__inner{
    width: 1024px;
    margin: 0 auto;
  }
  &__menu{
    .slider{
      margin: 0 auto;
      width: 80%;
  }
  .slider img{
      height: auto;
      width: 100%;
  }
  /*slick setting*/
  .slick-prev:before,
  .slick-next:before {
      color: #000;
  }
  }
}

.newsList{
  &__wrap{
    display: flex;

    &--time{
      width: 20%;
    }
    &--label{
      width: 10%;
    }
    &--item{
      width: 70%;
    }
  }
}

.zs-slideshow{
  &:after{
    background-image: none !important;
  }
}