@import "scss/reset";
@import "scss/setting";
@import "scss/mixin";

li{
  list-style: none;
}
 
  
#loader-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1;
}
#loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  text-align: center;
  z-index: 2;
}

.wrapper{
  width: 100%;
  height: 100%;
}

header{
 width: 100%;
}

.Header{
  &__inner{

  }
  &__links{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 30px;
  }
}

